:root {
	--accent-amsterdam: #d23ccb;
	--hotel: #fd8724;
	--hotel-hover: #a15617;
	--monument: #9c7250;
	--monument-hover: #5a4d43;
	--bicycle: #2953ee;
	--bicycle-hover: #294ac1;
	--scooter: #9a4bfb;
	--scooter-hover: #8146ca;
}

.subtitle-amsterdam {
	color: var(--accent-amsterdam);
}

a.hotel {
	color: var(--hotel);
}

a.hotel:hover {
	color: var(--hotel-hover);
}

a.monument {
	color: var(--monument);
}

a.monument:hover {
	color: var(--monument-hover);
}

a.bicycle {
	color: var(--bicycle);
}

a.bicycle:hover {
	color: var(--bicycle-hover);
}

a.scooter {
	color: var(--scooter);
}

a.scooter:hover {
	color: var(--scooter-hover);
}
