:root {
	--accent-berlin: #dc9339;
	--hotel: #fd8724;
	--hotel-hover: #a15617;
	--monument: #9c7250;
	--monument-hover: #5a4d43;
}

.subtitle-berlin {
	color: var(--accent-berlin);
}

a.hotel {
	color: var(--hotel);
}

a.hotel:hover {
	color: var(--hotel-hover);
}

a.monument {
	color: var(--monument);
}

a.monument:hover {
	color: var(--monument-hover);
}
