:root {
	--accent-bourges: #8a0e2d;
	--wine: #b3a12e;
	--wine-hover: #635918;
}

.subtitle-bourges {
	color: var(--accent-bourges);
}

a.wine {
	color: var(--wine);
}

a.wine:hover {
	color: var(--wine-hover);
}
