:root {
	--accent-crete: #2996df;
}

.subtitle-crete {
	color: var(--accent-crete);
}

.fa-airbnb {
	font-weight: 600;
}

a {
	text-decoration: none;
	transition: color 0.3s ease-out;
}

a.airbnb {
	color: var(--airbnb);
}

a.airbnb:hover {
	color: var(--airbnb-hover);
}

a.tripadvisor {
	color: var(--tripadvisor);
}

a.tripadvisor:hover {
	color: var(--tripadvisor-hover);
}
