.split_screen {
    display: flex;
    flex-direction: row;
}

.left_pane {
    width: 100%;
    height: 100%;
}

.right_pane {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 960px) {
  .split_screen {
    flex-direction: column;
  }
}